name: wheel-axle-runtime
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  read-exclusions:
    runs-on: ubuntu-latest
    outputs:
      BUILD_EXCLUSIONS: ${{ steps.read-exclusions-step.outputs.BUILD_EXCLUSIONS }}
    steps:
      - uses: actions/checkout@v5
      - id: read-exclusions-step
        run: |
          set -xeEu
          set -o pipefail
          {
            echo 'BUILD_EXCLUSIONS<<EOF'
            cat ./.github/exclusions.json
            echo -e '\nEOF'
          }  >> "$GITHUB_OUTPUT"

  build-ubuntu-py314:
    uses: ./.github/workflows/template.yml
    with:
      os: ubuntu-latest
      python-version: '3.14'
      deploy: ${{ github.event_name == 'push' }}
      deploy-pip: '26.0'
      deploy-setuptools: '82.0'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ read-exclusions ]
  build-macos-intel-py314:
    uses: ./.github/workflows/template.yml
    with:
      os: macos-15-intel
      python-version: '3.14'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ build-ubuntu-py314, read-exclusions ]
  build-macos-arm-py314:
    uses: ./.github/workflows/template.yml
    with:
      os: macos-15
      python-version: '3.14'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ build-ubuntu-py314, read-exclusions ]
  build-ubuntu-py313:
    uses: ./.github/workflows/template.yml
    with:
      os: ubuntu-latest
      python-version: '3.13'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ read-exclusions ]
  build-macos-intel-py313:
    uses: ./.github/workflows/template.yml
    with:
      os: macos-15-intel
      python-version: '3.13'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ build-ubuntu-py313, read-exclusions ]
  build-macos-arm-py313:
    uses: ./.github/workflows/template.yml
    with:
      os: macos-15
      python-version: '3.13'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ build-ubuntu-py313, read-exclusions ]
#  build-ubuntu-py313t:
#    uses: ./.github/workflows/template.yml
#    with:
#      os: ubuntu-latest
#      python-version: '3.13t'
#      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
#    secrets: inherit
#    needs: [ read-exclusions ]
#  build-macos-py313t:
#    uses: ./.github/workflows/template.yml
#    with:
#      os: macos-13
#      python-version: '3.13t'
#      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
#    secrets: inherit
#    needs: [ build-ubuntu-py313t, read-exclusions ]
  build-ubuntu-py312:
    uses: ./.github/workflows/template.yml
    with:
      os: ubuntu-latest
      python-version: '3.12'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ read-exclusions ]
  build-macos-py312:
    uses: ./.github/workflows/template.yml
    with:
      os: macos-15-intel
      python-version: '3.12'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ build-ubuntu-py312, read-exclusions ]
  build-ubuntu-py311:
    uses: ./.github/workflows/template.yml
    with:
      os: ubuntu-latest
      python-version: '3.11'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ read-exclusions ]
  build-macos-py311:
    uses: ./.github/workflows/template.yml
    with:
      os: macos-15-intel
      python-version: '3.11'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ build-ubuntu-py311, read-exclusions ]
  build-ubuntu-py310:
    uses: ./.github/workflows/template.yml
    with:
      os: ubuntu-latest
      python-version: '3.10'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ read-exclusions ]
  build-macos-py310:
    uses: ./.github/workflows/template.yml
    with:
      os: macos-15-intel
      python-version: '3.10'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ build-ubuntu-py310, read-exclusions ]
  build-ubuntu-py39:
    uses: ./.github/workflows/template.yml
    with:
      os: ubuntu-latest
      python-version: '3.9'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ read-exclusions ]
  build-macos-py39:
    uses: ./.github/workflows/template.yml
    with:
      os: macos-15-intel
      python-version: '3.9'
      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
    secrets: inherit
    needs: [ build-ubuntu-py39, read-exclusions ]
#  build-ubuntu-py314t:
#    uses: ./.github/workflows/template.yml
#    with:
#      os: ubuntu-latest
#      python-version: '3.14t-dev'
#      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
#    secrets: inherit
#    needs: [ read-exclusions ]
#  build-macos-py314t:
#    uses: ./.github/workflows/template.yml
#    with:
#      os: macos-13
#      python-version: '3.14t-dev'
#      exclude: ${{ needs.read-exclusions.outputs.BUILD_EXCLUSIONS }}
#    secrets: inherit
#    needs: [ build-ubuntu-py314t, read-exclusions ]
  build-summary:
    if: success() || failure()
    runs-on: ubuntu-latest
    name: Build Summary
    needs:
#      - build-ubuntu-py314t
#      - build-macos-py314t
      - build-ubuntu-py314
      - build-macos-intel-py314
      - build-macos-arm-py314
#      - build-ubuntu-py313t
#      - build-macos-py313t
      - build-ubuntu-py313
      - build-macos-intel-py313
      - build-macos-arm-py313
      - build-ubuntu-py312
      - build-macos-py312
      - build-ubuntu-py311
      - build-macos-py311
      - build-ubuntu-py310
      - build-macos-py310
      - build-ubuntu-py39
      - build-macos-py39
    steps:
      - name: Check build matrix status
        if: |
          needs.build-ubuntu-py314.result != 'success' ||
          needs.build-macos-intel-py314.result != 'success' ||
          needs.build-macos-arm-py314.result != 'success' ||
          needs.build-ubuntu-py313.result != 'success' ||
          needs.build-macos-intel-py313.result != 'success' ||
          needs.build-macos-arm-py313.result != 'success' ||
          needs.build-ubuntu-py312.result != 'success' ||
          needs.build-macos-py312.result != 'success' ||
          needs.build-ubuntu-py311.result != 'success' ||
          needs.build-macos-py311.result != 'success' ||
          needs.build-ubuntu-py310.result != 'success' ||
          needs.build-macos-py310.result != 'success' ||
          needs.build-ubuntu-py39.result != 'success' ||
          needs.build-macos-py39.result != 'success'
        run: exit 1
